.header{
    background-color: $layoutBgColor;
    color: $fontWhiteColor;
    max-width: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 88px;
    nav ul{
        width: 492px;
        display: flex;
        justify-content: space-between;
        font-size: $fz20;
        line-height: 1.45;
        margin-top: 8px;
    }
    h1 a{
        font-size: 30px;
        width: 80px;
        height: 49px;
        display: flex;
        background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    nav ul li a:hover{
        color: $hovercolor;
        font-weight: bold;
    }
    @media (max-width:768px){
        padding: 30px 39px;
        nav ul{
            width: 420px;        
        }
    }
    @media (max-width:376px){
        display: block;
        padding: 0;
        h1{
            padding: 10px 0;
            border: 1px solid #fff;
        }
        h1 a{
            width: 48px;
            height: 30px; //讓a標籤與圖片相等寬高
            margin: 0 auto;
            background-size: 48px 30px;
            background-repeat: no-repeat;
        }
        nav ul {
            width: inherit;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 0;
        }
        nav ul li{            
            text-align: center;
            width: 50%;
            box-sizing: border-box;
            border: 2px solid #fff;
            border-top: none;
        }
    }
}

.footer {
    height: 200px;
    background-color: #00cc99;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    transition: all 0.5s;
    &:hover {
      width: 200px;
      background-color: $layoutBgColor;
    }
  }
  