.banner{
    width: inherit;
    padding: 348px 405px 352px 992px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true) no-repeat;
    color: #650300;
    p{
        width: 576px;
        line-height: 1.4;
        font-size: $fz36;
        text-align: right;
    }
    p:nth-child(2){
        font-size: 64px;
        font-weight: bold;
    }
}