.header{
    background-color: $layoutBgColor;
    color: $fontWhiteColor;
    max-width: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 88px;
    nav ul{
        width: 492px;
        display: flex;
        justify-content: space-between;
        font-size: $fz20;
        line-height: 1.45;
        margin-top: 8px;
    }
    h1 a{
        font-size: 30px;
        width: 80px;
        height: 49px;
        display: flex;
        background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    a{
        color: $fontWhiteColor;
    }
    nav ul li a:hover{
        color: $hovercolor;
        font-weight: bold;
    }
}

.footer {
    height: 200px;
    background-color: #00cc99;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    transition: all 0.5s;
    &:hover {
      width: 200px;
      background-color: $layoutBgColor;
    }
  }
  