@import url(https://fonts.google.com/specimen/Roboto?query=roboto);
@import url(https://fonts.google.com/specimen/Noto+Sans?query=san);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: Roboto, Noto Sans; }

a:hover {
  color: blue;
  font-weight: bold; }

.header {
  background-color: #aa0601;
  color: #fff;
  max-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px; }
  .header nav ul {
    width: 492px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    line-height: 1.45;
    margin-top: 8px; }
  .header h1 a {
    font-size: 30px;
    width: 80px;
    height: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  @media (max-width: 768px) {
    .header {
      padding: 30px 39px; }
      .header nav ul {
        width: 420px; } }
  @media (max-width: 376px) {
    .header {
      display: block;
      padding: 0; }
      .header h1 {
        padding: 10px 0;
        border: 1px solid #fff; }
        .header h1 a {
          width: 48px;
          height: 30px;
          margin: 0 auto;
          background-size: 48px 30px;
          background-repeat: no-repeat; }
      .header nav ul {
        width: inherit;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-top: 0; }
        .header nav ul li {
          text-align: center;
          width: 50%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: 2px solid #fff;
          border-top: none;
          padding: 8px 0; } }

.footer {
  max-width: auto;
  color: #fff;
  background-color: #aa0601; }
  .footer .footer-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 40px; }
    .footer .footer-container .footer-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: inherit;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .footer-container .footer-menu .footer-menu-list ul {
        width: 464px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        line-height: 1.5;
        height: 48px; }
      .footer .footer-container .footer-menu .footer-logo ul {
        width: 208px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
  .footer .phone-email {
    margin-top: 36px;
    padding-bottom: 24px;
    border-bottom: 1px solid #fff; }
    .footer .phone-email ul li {
      font-size: 36px;
      line-height: 1.3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .phone-email ul li p {
        padding-left: 22px; }
    .footer .phone-email ul li:nth-child(1) {
      margin-bottom: 16px; }
  .footer .footer-cpr-privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px; }
    .footer .footer-cpr-privacy nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 174px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .footer-cpr-privacy nav ul li a {
        font-size: 14px;
        line-height: 1.4; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 42px;
      padding-right: 39px; }
      .footer .footer-container .footer-menu .footer-menu-list ul {
        width: 428px; }
      .footer .footer-container .footer-menu .footer-logo ul {
        width: 120px; }
        .footer .footer-container .footer-menu .footer-logo ul li img {
          height: 24px;
          width: 24px; }
      .footer .footer-container .phone-email {
        margin-top: 18px; }
        .footer .footer-container .phone-email ul li {
          font-size: 20px; }
          .footer .footer-container .phone-email ul li p {
            line-height: 1.3;
            padding-left: 11px; }
          .footer .footer-container .phone-email ul li img {
            height: 18px;
            width: 18px; } }
  @media (max-width: 376px) {
    .footer {
      padding: 0; }
      .footer .footer-container {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding: 25px 16px; }
        .footer .footer-container .footer-menu .footer-menu-list {
          display: none; }
        .footer .footer-container .footer-menu .footer-logo ul {
          margin-top: 18px; }
        .footer .footer-container .phone-email {
          border: none;
          padding: 0; }
        .footer .footer-container .footer-cpr-privacy {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          border-top: 1px solid #fff;
          width: 375px;
          padding-top: 16px; }
          .footer .footer-container .footer-cpr-privacy p {
            font-size: 14px;
            margin-bottom: 8px; }
          .footer .footer-container .footer-cpr-privacy nav ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .footer .footer-container .footer-cpr-privacy nav ul li:nth-child(1) {
              margin-bottom: 8px; } }

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .box:hover {
    width: 200px;
    background-color: #aa0601; }

.banner {
  width: inherit;
  padding: 348px 405px 352px 992px;
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true) no-repeat;
  color: #650300; }
  .banner p {
    max-width: 576px;
    line-height: 1.4;
    font-size: 36px;
    white-space: nowrap;
    text-align: right; }
  .banner p:nth-child(1) {
    padding-left: 64px; }
  .banner p:nth-child(2) {
    font-size: 64px;
    font-weight: bold; }
  @media (max-width: 768px) {
    .banner {
      padding: 372px 0;
      background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true) no-repeat;
      padding-left: 150px; }
      .banner p {
        font-size: 20px; }
      .banner p:nth-child(1) {
        padding-left: 0px; }
      .banner p:nth-child(2) {
        font-size: 48px; } }
  @media (max-width: 376px) {
    .banner {
      padding: 164px 0;
      background-size: 375px 400px;
      padding-right: 15px; }
      .banner p {
        font-size: 16px; }
      .banner p:nth-child(2) {
        font-size: 32px; } }

.promise {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #FBF2F2;
  font-weight: bold;
  color: #650300; }
  .promise h2 {
    text-align: center;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 1.45; }
  .promise ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .promise ul li {
      max-width: 255px;
      margin-right: 30px;
      text-align: center; }
      .promise ul li img {
        height: 88px;
        width: 88px; }
      .promise ul li h3 {
        font-size: 24px;
        line-height: 1.45;
        margin-top: 27px;
        margin-bottom: 8px; }
      .promise ul li p {
        line-height: 1.5;
        text-align: left;
        color: #000; }
  @media (max-width: 768px) {
    .promise {
      padding: 40px 76px 56px 77px; }
      .promise h2 {
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 1.43; }
      .promise ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .promise ul li:nth-child(n+3) {
          margin-top: 68px; } }
  @media (max-width: 376px) {
    .promise {
      padding: 32px 55px 40px 60px; }
      .promise h2 {
        font-size: 24px;
        margin-bottom: 28px;
        white-space: nowrap; }
      .promise ul {
        margin-left: 35px; }
        .promise ul li:nth-child(n+2) {
          margin-top: 40px; }
        .promise ul li p {
          width: 255px; } }

.classic {
  padding: 60px 405px 80px 405px;
  font-weight: bold;
  color: #650300; }
  .classic h2 {
    text-align: center;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 1.45; }
  .classic ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #aa0601;
    font-size: 48px;
    line-height: 1.3;
    font-style: italic; }
    .classic ul li a img {
      width: 635px;
      height: 320px; }
    .classic ul li a p {
      margin-left: 45px; }
  .classic ul li:nth-child(1) a p::before {
    content: '';
    height: 48px;
    width: 48px;
    display: inline-block;
    margin-right: 15px;
    background: url(https://upload.cc/i1/2021/07/18/x4XuPO.png) no-repeat; }
  .classic ul li:nth-child(2) p {
    margin-right: 30px;
    margin-left: 0; }
  .classic ul li:nth-child(2) a {
    margin: 32px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .classic ul li:nth-child(2) a p::before {
      content: '';
      height: 48px;
      width: 48px;
      display: inline-block;
      margin-right: 15px;
      background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-sun.svg) no-repeat; }
  .classic ul li:nth-child(3) a p::before {
    content: '';
    height: 48px;
    width: 48px;
    display: inline-block;
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-thunder.svg) no-repeat; }

.Question {
  padding: 96px 500px 108px 405px; }
  .Question h1 {
    font-size: 48px;
    line-height: 1.45;
    padding-left: 16px;
    font-weight: bold;
    border-left: 8px solid #aa0601; }
  .Question h2 {
    font-size: 32px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 36px; }
  .Question .QA h3 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold; }
  .Question .QA p {
    font-weight: bold;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 32px;
    padding-left: 92px; }
  @media (max-width: 768px) {
    .Question {
      padding: 60px 39px 96px 39px; } }
  @media (max-width: 376px) {
    .Question {
      padding: 36px 15px 56px 15px; }
      .Question h1 {
        font-size: 28px;
        line-height: 1.4;
        padding-left: 8px;
        border-left: 4px solid #aa0601; }
      .Question h2 {
        font-size: 20px;
        line-height: 1.45;
        margin-top: 24px;
        margin-bottom: 24px; }
      .Question .QA h3 {
        font-size: 16px;
        line-height: 1.5; }
      .Question .QA p {
        padding-left: 0;
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 14px; }
      .Question .QA p:nth-child(2) {
        display: none; } }

/*# sourceMappingURL=all.css.map */
